<section class="section section-dark teamInfo">
    <h2 style="color:#6a9955;">The Team</h2>
    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src="https://scontent.fdac14-1.fna.fbcdn.net/v/t1.0-9/1503911_10205705626106966_8341469453286564058_n.jpg?_nc_cat=108&_nc_oc=AQmr6lb8WRrzFNatpk6-rxbBkasU7ohbHjrd88eNFiyqKfRqimLw2flErFU4VeDs3hM&_nc_ht=scontent.fdac14-1.fna&oh=123b58d841c5a7b6507070f15aaa5366&oe=5DB8B627" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Zamil Rashid</h3>
        </td>
      </tr>
      <tr>
        <td><b>CEO</b></td>
      </tr>
      <!-- <tr>
        <td><b class="social">f</b></td>
      </tr> -->
    </table>






<!-- 


    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/Employees/me.jpg" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Dipayon Debnath</h3>
        </td>
      </tr>
      <tr>
        <td><b>Game Developer</b></td>
      </tr>
      <tr>
        <td><b class="social">f</b></td>
      </tr>
    </table>
    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/Employees/me.jpg" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Dipayon Debnath</h3>
        </td>
      </tr>
      <tr>
        <td><b>Game Developer</b></td>
      </tr>
      <tr>
        <td><b class="social">f</b></td>
      </tr>
    </table>


    
    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/Employees/me.jpg" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Dipayon Debnath</h3>
        </td>
      </tr>
      <tr>
        <td><b>Game Developer</b></td>
      </tr>
      <tr>
        <td><b class="social">f</b></td>
      </tr>
    </table>
    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/Employees/me.jpg" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Dipayon Debnath</h3>
        </td>
      </tr>
      <tr>
        <td><b>Game Developer</b></td>
      </tr>
      <tr>
        <td><b class="social">f</b></td>
      </tr>
    </table>
    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/Employees/me.jpg" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Dipayon Debnath</h3>
        </td>
      </tr>
      <tr>
        <td><b>Game Developer</b></td>
      </tr>
      <tr>
        <td><b class="social">f</b></td>
      </tr>
    </table>
    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/Employees/me.jpg" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Dipayon Debnath</h3>
        </td>
      </tr>
      <tr>
        <td><b>Game Developer</b></td>
      </tr>
      <tr>
        <td><b class="social">f</b></td>
      </tr>
    </table>
    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/Employees/me.jpg" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Dipayon Debnath</h3>
        </td>
      </tr>
      <tr>
        <td><b>Game Developer</b></td>
      </tr>
      <tr>
        <td><b class="social">f</b></td>
      </tr>
    </table>
    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/Employees/me.jpg" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Dipayon Debnath</h3>
        </td>
      </tr>
      <tr>
        <td><b>Game Developer</b></td>
      </tr>
      <tr>
        <td><b class="social">f</b></td>
      </tr>
    </table>
    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/Employees/me.jpg" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Dipayon Debnath</h3>
        </td>
      </tr>
      <tr>
        <td><b>Game Developer</b></td>
      </tr>
      <tr>
        <td><b class="social">f</b></td>
      </tr>
    </table>
    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/Employees/me.jpg" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Dipayon Debnath</h3>
        </td>
      </tr>
      <tr>
        <td><b>Game Developer</b></td>
      </tr>
      <tr>
        <td><b class="social">f</b></td>
      </tr>
    </table>
    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/Employees/me.jpg" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Dipayon Debnath</h3>
        </td>
      </tr>
      <tr>
        <td><b>Game Developer</b></td>
      </tr>
      <tr>
        <td><b class="social">f</b></td>
      </tr>
    </table>
    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/Employees/me.jpg" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Dipayon Debnath</h3>
        </td>
      </tr>
      <tr>
        <td><b>Game Developer</b></td>
      </tr>
      <tr>
        <td><b class="social">f</b></td>
      </tr>
    </table>
    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/Employees/me.jpg" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Dipayon Debnath</h3>
        </td>
      </tr>
      <tr>
        <td><b>Game Developer</b></td>
      </tr>
      <tr>
        <td><b class="social">f</b></td>
      </tr>
    </table>

 -->






  </section>