<section class="section section-dark">
    <h2 style="color:#6a9955;">Hello World :)</h2>
    <p>
      We are ULKA Games, a subsidiery company of
      <a href="https://www.moonfroglabs.com/" target="_blank" style="color:#6a9955;text-decoration:none;">Moonfrog Labs.</a>
    </p>

    <!-- All Game -->
    <table class="info gameInfo bigInfo"> 
      <tr>
        <td>
          <div class="imgHolder">
            
            <a href="https://play.google.com/store/apps/details?id=com.teenpatti.hd.gold&hl=en" target="_blank"> 
              <img src="img/MFGameIcons/teenpatti.jpg" />
            </a> 
            
            </div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Teen Patti Gold</h3>
        </td>
      </tr>
    </table>


    <!-- <table class="info gameInfo bigInfo">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/MFGameIcons/ludo.jpg" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Ludo Club</h3>
        </td>
      </tr>
    </table>
    <table class="info gameInfo bigInfo">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/MFGameIcons/bahubali.png" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Baahubali The Game</h3>
        </td>
      </tr>
    </table>
    <table class="info gameInfo bigInfo">
      <tr>
        <td>
          <div class="imgHolder"><img src="img/MFGameIcons/kaliyug.png" /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Kaliyug</h3>
        </td>
      </tr>
    </table> -->



    <center><a class="linkBtn" href="https://play.google.com/store/apps/developer?id=Moonfrog&hl=en" target="_blank">See More</a></center>
    <br>
  </section>