<header class="header-navigation" id="header">
  <table class="logoHolder">
    <tr>
      <!-- <td>
      <img class="logo" src="img/ecLogo.png">
    </td> -->
      <td>
        <p class="name">ULKA GAMES</p>
      </td>
    </tr>
    <tr>
      <td><a class="sub">Every Kilobyte Matters...Just like You</a></td>
    </tr>
  </table>
  <nav class="menuItems">
    <b class="btn" onclick="SmoothScroll('thygames', 500);">Games</b>
    <b class="btn" onclick="SmoothScroll('teamInfo', 500);">About</b>
    <b class="btn" onclick="SmoothScroll('pcontact', 500);">Contact</b>
    <b class="btn"> <a href="/login"> Login</a></b>
  </nav>
</header>

<style>
  a:visited {
    color: #ffffff;
  }

  a:link {
    color :#ffffff;
  }

  a:link {
  text-decoration: none;
}

</style>