<!DOCTYPE html>
</body>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ULKA Games</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body onresize="myFunction()" onload="myFunction()">


  <header class="header-navigation" id="header">
    <table class="logoHolder">
        <tr>
            <td>
            <a href="/">  <img class="logo" src="logo/logo_0.png"> </a>
         </td>
            <td>
              <a href="/">     <p class="name">ULKA GAMES</p> </a>
            </td>
        </tr>
        <tr>
            <!-- <td><a class="sub">Every Kilobyte Matters...Just like You</a></td> -->
        </tr>
    </table>
    <nav class="menuItems">
        <b class="btn"> <a href="/">Games</a></b>
        <b class="btn"> <a href="/about">About Us</a></b>
        <b class="btn"> <a href="https://www.ulka.games/bkash-privacy-policy">Privacy Policy</a></b>


        <!-- <b class="btn" onclick="SmoothScroll('thygames', 500);">Games</b>
  <b class="btn" onclick="SmoothScroll('teamInfo', 500);">About</b> -->
        <!-- <b class="btn" onclick="SmoothScroll('pcontact', 500);">Contact</b>
  <b class="btn"> <a href="/login"> Login</a></b> -->
    </nav>
</header>

  <style>
    a:visited {
      color: #ffffff;
    }

    a:link {
      color: #ffffff;
    }

    a:link {
      text-decoration: none;
    }
  </style>


  <!-- <div class="pimg1">
  <div class="ptext">
    <span class="border trans">
    </span>
  </div>
</div> -->

  <div id="s" class="sliderdiv"></div>


  <section class="section section-dark webText">
    <!-- <h2 style="color:#6a9955;">Hello World :)</h2> -->
    <p style="font-size:20px">

      We specialize in Web and native
      platforms in Card, Board and Hyper Casual genres
      <!-- We are <b style="color:#6a9955;">Ulka Games</b>, part of Moonfrog Labs: South Asia's fastest growing game studio.

      Here at Ulka Games, we specialize in Web and native games in Card, Board and Hyper casual genres.

      Based out of Dhaka, our goal is to reach global audience through high engagement social games.

      If you have any queries please feel free to <a href="mailto: zamil@ulka.games?subject = Feedback&body = Message">
        <i style="color:#6a9955;"> email: zamil@ulka.games</i> -->
      </a>

      <!-- <a href="https://www.moonfroglabs.com/" target="_blank" style="color:#6a9955;text-decoration:none;">Moonfrog Labs.</a> -->
    </p>

  </section>

  <!-- <div class="pimg2">
  <div class="ptext">
    <span class="border trans">
      WE MAKE GAMES
    </span>
  </div>
</div> -->

  <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators" >
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    <li data-target="#myCarousel" data-slide-to="7"></li>
    <li data-target="#myCarousel" data-slide-to="8"></li>
    <li data-target="#myCarousel" data-slide-to="9"></li>
    <li data-target="#myCarousel" data-slide-to="10"></li>
    <li data-target="#myCarousel" data-slide-to="11"></li>
  </ol>


  
  <div class="carousel-inner" >

    <div class="item active">
      <img src="img/officepic/0.jpg" alt="Los Angeles" style="width:100%;  height: 80%;">
      <div class="carousel-caption">

      </div>
    </div>

    <div class="item">
      <img src="img/officepic/1.jpg" alt="Chicago" style="width:100%;  height: 80%;">
      <div class="carousel-caption">

      </div>
    </div>
  
    <div class="item">
      <img src="img/officepic/2.jpg" alt="New York" style="width:100%;  height: 80%;">
      <div class="carousel-caption">
      </div>
    </div>

    <div class="item">
      <img src="img/officepic/3.jpg" alt="New York" style="width:100%;  height: 80%;">
      <div class="carousel-caption">
      </div>
    </div>      
    
    <div class="item">
      <img src="img/officepic/4.jpg" alt="New York" style="width:100%;  height: 80%;">
      <div class="carousel-caption">
      </div>
    </div>  
    
    
    <div class="item">
      <img src="img/officepic/5.jpg" alt="New York" style="width:100%;  height: 80%;">
      <div class="carousel-caption">
      </div>
    </div>           
    
    <div class="item">
      <img src="img/officepic/6.jpg" alt="New York" style="width:100%;  height: 80%;">
      <div class="carousel-caption">
      </div>
    </div>           
    
    <div class="item" >
      <img src="img/officepic/7.jpg" alt="New York" style="width:100%;  height: 80%;">
      <div class="carousel-caption">
      </div>
    </div>           
    
    <div class="item">
      <img src="img/officepic/8.jpg" alt="New York" style="width:100%;  height: 80%;">
      <div class="carousel-caption">
      </div>
    </div>

    <div class="item">
      <img src="img/officepic/10.jpg" alt="New York" style="width:100%;  height: 80%;">
      <div class="carousel-caption">
      </div>
    </div>

    <div class="item">
      <img src="img/officepic/11.jpg" alt="New York" style="width:100%; height: 80%;">
      <div class="carousel-caption">
      </div>
    </div>

  </div>


  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->




  <!-- <section class="section section-dark thygames">

  <p>
    We make both <b style="color:#6a9955;">Web and Native</b> games in different genres. For our games we use various technologies - <b style="color:#6a9955;">Unity3D</b>, <b style="color:#6a9955;">Cocos Creator</b>,
    <b style="color:#6a9955;">Cocos 2d-x</b>, even our own custom
    engine in <b style="color:#6a9955;">Vanilla Javascript</b>.
    Some of our games include:
  </p>


  <br><br>
</section> -->

  <!-- <div class="pimg3">
  <div class="ptext">
    <span class="border trans">
      VERY FUN GAMES
    </span>
  </div>
</div> -->

  <section class="section section-dark teamInfo">
    <h2 style="color:#6a9955;">Our Team</h2>




    <% for (let employee of employees) { %>


    <table class="info">
      <tr>
        <td>
          <div class="imgHolder"><img src=<%=employee.pic%> /></div>
        </td>
      </tr>
      <tr>
        <td>
          <h3><%=employee.name%></h3>
        </td>
      </tr>
      <tr>
        <td><b><%=employee.position%></b></td>
      </tr>
      <tr>
        <td> <a href=" <%=employee.link%>" target="_blank"> <b class="social">in</b> </a></td>


      </tr>
    </table>

    <% } %>





  </section>

  <!-- <div class="pimg1">
    <div class="pcontact">
      <br /><br /><br />
      <b class="social"><a href="https://www.facebook.com/ulkagames/" target="_blank">f</a></b>
    <b class="social"><a href="https://www.linkedin.com/company/ulkagames/" target="_blank">in</a></b>
    <b class="social" onclick="showMail();">&#9993;</b>

    </div>

  </div> -->


  <!-- <center>
    <h4 style="color: #ffffff"> Operational Address: House: 232/A, 16 Lake Rd, Mohakhali Dohs, Dhaka 1206 </h4>
  </center>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.975420428047!2d90.39299721543193!3d23.783889593412074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c75525a7aadf%3A0x2f6869170a815cec!2sULKA+GAMES+LIMITED!5e0!3m2!1sen!2sbd!4v1563184671979!5m2!1sen!2sbd"
    width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

  <center>
    <h4 style="color: #ffffff">Registered Address: 348/A, Tejgaon IA, Dhaka - 1208, Bangladesh </h4>
  </center> -->

  <center>
    <h4 style="color: #ffffff"> Email: legal@ulka.games </h4>
  </center> -->

  <!-- <div class="overlay"></div>
Legal@ulka.games
<div class="mailForm">
  <b style="color: white; font-size: 22px;">Say Something !</b><br>
  <form class="contactForm" action="index.htm" method="post">
    <input type="text" name="name" placeholder="Your Name">
    <input type="text" name="email" placeholder="Your E-mail">
    <textarea name="message" placeholder="Your Message"></textarea>
    <b class="btn">Submit</b>
    <b class="btn" onclick="hideMail();">Cancel</b>
  </form>
</div> -->

</body>

</html>


<script>
  let sdiv = document.getElementById('s');
  sdiv.style.padding = "0px";
  sdiv.style.margin = "0px";




  for (let i = 0; i < 9; i++) {
    let img = document.createElement("img");
    img.src = "img/officepic/new/" + i + ".png";
    //  img.style.height = '100%';


    img.style.width = "100%";
    img.style.float = "left";
     img.style.position = "absolute";
    // img.style.display ="none";
    img.style.opacity = 0;
    sdiv.appendChild(img);

    // if (window.outerWidth < 800) {
    //   sdiv.style.padding = "90px 0px 380px";
    //   sdiv.childNodes[i].style.height = "380px";
    // }
    // else if (window.outerWidth > 800 && window.outerWidth < 1600) {
    //   img.style.height =  "750px";
    //   sdiv.style.padding = "0px 0px 750px";


    // }

    // else {
    //   img.style.height = "980px";
    //   sdiv.style.padding = "0px 0px 980px";
    // }



  }

  myFunction();

   sdiv.childNodes[0].style.opacity = 1;




  function myFunction() {
    let   windowWidth = window.outerWidth;

// console.log(windowWidth);
    let imgheight = 0;
    if (windowWidth <= 420) {

      imgheight = 320;
      sdiv.style.padding = `90px 0px ${imgheight}px`;

    }


    else if (windowWidth > 420 && windowWidth <=800) {
      imgheight = 360;
      sdiv.style.padding = `90px 0px ${imgheight}px`;

    }


    else if (windowWidth > 800 && windowWidth <=1200) {
      imgheight = 750;
      sdiv.style.padding = `60px 0px ${imgheight}px`;

    }

    else if (windowWidth > 1200 && windowWidth <=1500) {
      imgheight = 820;
      sdiv.style.padding = `60px 0px ${imgheight}px`;

    }

    else if (windowWidth > 1500 && windowWidth <=2500) {
      imgheight = 980;
      sdiv.style.padding = `60px 0px ${imgheight}px`;

    }

    else if(windowWidth >=2500) {

      imgheight = 1200;
      sdiv.style.padding = `60px 0px ${imgheight}px`;

    }



    for (let i = 0; i < sdiv.childNodes.length; i++) {

      sdiv.childNodes[i].style.height = imgheight+"px";

    }

  }





   var myVar = setInterval(myTimer, 500);

  let timeCount = 0;
  let indexCount = 0;


  function myTimer() {
    timeCount++;

    if (timeCount % 5 == 0) {
      indexCount++;
      if (indexCount >= sdiv.childNodes.length) {
        indexCount = 0;

        // sdiv.childNodes[indexCount].style.opacity = 1;
        // sdiv.childNodes[sdiv.childNodes.length - 1].style.opacity = 0;

        opacityIn(sdiv.childNodes[indexCount]);
        opacityOut(sdiv.childNodes[sdiv.childNodes.length - 1]);
      }

      else {

        // sdiv.childNodes[indexCount].style.opacity = 1;
        // sdiv.childNodes[indexCount - 1].style.opacity = 0;

        opacityIn(sdiv.childNodes[indexCount]);
        opacityOut(sdiv.childNodes[indexCount - 1]);
      }
    }
  }





  function opacityIn(opacityNode) {
    let opacityInData = 0;
    let opacityInSetInterval = setInterval(() => {
      opacityInData++;
      opacityNode.style.opacity = opacityInData / 100;
      if (opacityInData >= 100) {
        clearInterval(opacityInSetInterval);
      }

    }, 10)
  }



  function opacityOut(opacityNode) {
    let opacityData = 100;
    let opacitySetInterval = setInterval(() => {
      opacityData--;
      opacityNode.style.opacity = opacityData / 100;
      if (opacityData <= 0) {
        clearInterval(opacitySetInterval);
      }

    }, 10)
  }

</script>