<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Ulka Games Ltd</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="newsite/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="newsite/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="newsite/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="newsite/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="newsite/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="newsite/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="newsite/vendor/aos/aos.css" rel="stylesheet">

  <!-- Game CSS -->
  <link rel="stylesheet" href="css/newStyle.css">

  <!-- Template Main CSS File -->
  <link href="newsite/css/style.css" rel="stylesheet">

</head>

<style>

  #footer .footer-top .social-links a{
    font-size: 18px;
  display: inline-block;
  background: #1bb1dc;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  margin-left: 10px;
  margin-bottom: 10px;

  }
  .socialIcon {
  font-size: 30px;

  }
  #policy{
    margin-top: 150px;
  }
  #policyTitle{
    font-weight: bold;
    margin-bottom: 35px;
  }


  @media only screen and (max-width: 600px) {
    #policy{
    margin-top: 80px;
  }
  }
</style>
<body>

  <!-- ======= Top Bar ======= -->
  <!-- <div id="topbar" class="d-none d-lg-flex align-items-end fixed-top topbar-transparent">
    <div class="container d-flex justify-content-end">
      <div class="social-links">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/ulkagames" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://www.linkedin.com/company/ulkagames" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div> -->

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="https://ulka.games">Ulka Games</a></h1>
      <nav class="main-nav d-none d-lg-block">
        <ul>
          <li class="active"><a href="https://ulka.games">Home</a></li>
          <li><a href="https://ulka.games/#about">About Us</a></li>
          <li><a href="https://ulka.games/#services">Popular Games</a></li>
          <li><a href="https://ulka.games/#features">Legal</a></li>
          <li><a href="https://ulka.games/#portfolio">Web Games</a></li>
          <li><a href="https://ulka.games/#team">Team</a></li>
          <li><a href="https://ulka.games/#footer">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav-->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <!-- <section id="hero" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-md-12 intro-info order-md-first order-last" data-aos="zoom-in" data-aos-delay="1">
          <h2>Ulka Games Privacy Policy </h2>
        </div>

    </div>
  </section> -->
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="policy" class="policy">

      <div class="container" data-aos="fade-up">
        <div class="row">

          <!-- <div class="col-lg-5 col-md-6">
            <div class="about-img" data-aos="fade-right" data-aos-delay="1">
              <img src="newsite/img/addapage.jpg" alt="">
            </div>
          </div> -->

          <div class="col-lg-12 col-md-10">
            <div class="about-content" data-aos="fade-left" data-aos-delay="1">
              <h2 id="policyTitle">Privacy Policy</h2>
              <p>
                Ulka Games Limited built the 29 with Hearts, Spades, Hazari, Call Break &amp; more app as a Free app.
                This SERVICE is provided by Ulka Games Limited at no cost and is intended for use as is. </p>
              <p> This page is used to inform visitors regarding our policies with the collection, use, and disclosure
                of Personal Information if anyone decided to use our Service. </p>

                
              <p> If you choose to use our Service, then you agree to the collection and use of information in relation
                to this policy. The Personal Information that we collect is used for providing and improving the
                Service. We will not use or share your information with anyone except as described in this Privacy
                Policy. </p>
              <p> The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is
                accessible at 29 with Hearts, Spades, Hazari, Call Break &amp; more unless otherwise defined in this
                Privacy Policy. </p>
              <p><strong>Information Collection and Use</strong></p>
              <p> For a better experience, while using our Service, we may require you to provide us with certain
                personally identifiable information, including but not limited to Location, Public Profile of Facebook
                or Google Play Services. The information that we request will be retained by us and used as described in
                this privacy policy. </p>
              <p> The app does use third party services that may collect information used to identify you. </p>
              <div>
                <p> Link to privacy policy of third party service providers used by the app </p>
                <ul>
                  <li><a href="https://www.google.com/policies/privacy/" target="_blank">Google Play Services</a></li>
                  <li><a href="https://support.google.com/admob/answer/6128543?hl=en" target="_blank">AdMob</a></li>
                  <li><a href="https://firebase.google.com/policies/analytics" target="_blank">Firebase Analytics</a>
                  </li>
                  <li><a href="https://www.facebook.com/about/privacy" target="_blank">Facebook</a></li><!-- -->
                  <li><a href="http://try.crashlytics.com/terms/privacy-policy.pdf" target="_blank">Crashlytics</a></li>
                  <!-- -->
                  <!-- -->
                  <!-- -->
                  <!-- -->
                  <!-- -->
                </ul>
              </div>
              <p><strong>Log Data</strong></p>
              <p> We want to inform you that whenever you use our Service, in a case of an error in the app we collect
                data and information (through third party products) on your phone called Log Data. This Log Data may
                include information such as your device Internet Protocol (“IP”) address, device name, operating system
                version, the configuration of the app when utilizing our Service, the time and date of your use of the
                Service, and other statistics. </p>
              <p><strong>Cookies</strong></p>
              <p> Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers.
                These are sent to your browser from the websites that you visit and are stored on your device's internal
                memory. </p>
              <p> This Service does not use these “cookies” explicitly. However, the app may use third party code and
                libraries that use “cookies” to collect information and improve their services. You have the option to
                either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose
                to refuse our cookies, you may not be able to use some portions of this Service. </p>
              <p><strong>Service Providers</strong></p>
              <p> We may employ third-party companies and individuals due to the following reasons: </p>
              <ul>
                <li>To facilitate our Service;</li>
                <li>To provide the Service on our behalf;</li>
                <li>To perform Service-related services; or</li>
                <li>To assist us in analyzing how our Service is used.</li>
              </ul>
              <p> We want to inform users of this Service that these third parties have access to your Personal
                Information. The reason is to perform the tasks assigned to them on our behalf. However, they are
                obligated not to disclose or use the information for any other purpose. </p>
              <p><strong>Security</strong></p>
              <p> We value your trust in providing us your Personal Information, thus we are striving to use
                commercially acceptable means of protecting it. But remember that no method of transmission over the
                internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its
                absolute security. </p>
              <p><strong>Links to Other Sites</strong></p>
              <p> This Service may contain links to other sites. If you click on a third-party link, you will be
                directed to that site. Note that these external sites are not operated by us. Therefore, we strongly
                advise you to review the Privacy Policy of these websites. We have no control over and assume no
                responsibility for the content, privacy policies, or practices of any third-party sites or services.
              </p>
              <p><strong>Children’s Privacy</strong></p>
              <p> These Services do not address anyone under the age of 13. We do not knowingly collect personally
                identifiable information from children under 13. In the case we discover that a child under 13 has
                provided us with personal information, we immediately delete this from our servers. If you are a parent
                or guardian and you are aware that your child has provided us with personal information, please contact
                us so that we will be able to do necessary actions. </p>
              <p><strong>Changes to This Privacy Policy</strong></p>
              <p> We may update our Privacy Policy from time to time. Thus, you are advised to review this page
                periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on
                this page. These changes are effective immediately after they are posted on this page. </p>
              <p><strong>Contact Us</strong></p>
              <p> If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at
                Zamilur Rashid, Director Ulka Games Limited.


              </p>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End About Section -->



    <!-- ======= Footer ======= -->
    <footer id="footer" class="section-bg">
      <div class="footer-top">
        <div class="container">

          <div class="row">

            <div class="col-lg-6">
              <div class="footer-links">
                <h4>Contact Us</h4>
                <p>
                  6th Floor, House 223 <br>
                  15 Lake Road, Mohakhali DOHS, Dhaka<br>
                  Bangladesh <br>
                  <strong>Phone: <a href="tel:+8801911102455">0 1911 102455</a> </strong> <br>
                  <strong> Email : <a href="mailto: legal@ulka.games">legal@ulka.games</a></strong> <br>

                </p>
              </div>


            </div>

            <div class="col-lg-6   align-items-center">
              <div class="social-links  d-flex justify-content-center">
                <a href="https://www.facebook.com/ulkagames" target="_blank" class="facebook"><i
                    class="fa fa-facebook socialIcon"></i></a>
                <a href="https://www.linkedin.com/company/ulkagames" target="_blank" class="linkedin "><i
                    class="fa fa-linkedin socialIcon"></i></a>
                <a href="https://www.youtube.com/channel/UC9_-PSMfLtoeiJBgRnYMhBw/featured" target="_blank"
                  class="youtube"><i class="fa fa-youtube socialIcon"></i></a>
              </div>
              <div class=" d-flex justify-content-center">
                <a href="https://play.google.com/store/apps/developer?id=Ulka+Games">
                  <img src="newsite/img/store.png" alt="Ulka Games" target="_blank"
                    style="width:200px; height: auto; margin-left: 10px;">
                </a>
              </div>

            </div>

          </div>



        </div>

      </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>Ulka Games</strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://ulka.games/">Ulka Games</a>
        </div>
      </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="newsite/vendor/jquery/jquery.min.js"></script>
    <script src="newsite/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="newsite/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="newsite/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="newsite/vendor/counterup/counterup.min.js"></script>
    <!-- <script src="newsite/vendor/venobox/venobox.min.js"></script> -->
    <script src="newsite/vendor/owl.carousel/owl.carousel.min.js"></script>
    <!-- <script src="newsite/vendor/waypoints/jquery.waypoints.min.js"></script> -->
    <script src="newsite/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="newsite/js/test_main.js"></script>





    <div class="overlay"></div>
    <iframe class="gameViewer" src="" width="360px" height="640px"></iframe>

    <iframe id="teenPattiGameViewer" class="gameViewer" src="" width="800px" height="615px"></iframe>

    <div class="closeGame" width="50px" height="50px" onclick="CloseGame();">
      <b>X</b>
    </div>

    <script>
      'use strict';


      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-147224673-1', 'auto');
      ga('send', 'pageview');



      var new_scroll_position = 0;
      var last_scroll_position;
      let teenpattiNodeActive = false;
      var header = document.getElementById("header");

      window.addEventListener('scroll', function (e) {
        last_scroll_position = window.scrollY;
        if (window.scrollX > 0) window.scrollTo(0, last_scroll_position);

        // Scrolling down
        if (new_scroll_position < last_scroll_position && last_scroll_position >= header.offsetHeight) {
          header.classList.remove("slideDown");
          header.classList.add("slideUp");

          // Scrolling up
        } else if (new_scroll_position > last_scroll_position) {
          header.classList.remove("slideUp");
          header.classList.add("slideDown");
        }

        new_scroll_position = last_scroll_position;
      });

      function ShowOverlay() {
        var overlay = document.getElementsByClassName('overlay')[0];
        overlay.style.zIndex = "100";
        overlay.style.opacity = "1";
      }

      function HideOverlay() {
        var overlay = document.getElementsByClassName('overlay')[0];
        overlay.style.zIndex = "-100";
        overlay.style.opacity = "0";
      }

      function showMail() {
        ShowOverlay();
        var form = document.getElementsByClassName('mailForm')[0];
        form.style.zIndex = "101";
        form.style.opacity = "1";
      }

      function hideMail() {
        HideOverlay();
        var form = document.getElementsByClassName('mailForm')[0];
        form.style.zIndex = "-101";
        form.style.opacity = "0";
      }

      function ShowGame(gameName) {

        console.log("ShowGame------------------------  :  " + gameName);
        ShowOverlay();
        var gameView = document.getElementsByClassName('gameViewer')[0];
        var closeBtn = document.getElementsByClassName('closeGame')[0];
        gameView.style.opacity = "1";
        gameView.style.zIndex = "200";
        gameView.src = "subgames/" + gameName + "/index.html";

        closeBtn.style.opacity = "1";
        closeBtn.style.zIndex = "201";

        AnalyticsFunction(gameName);


      }

      function CloseGame() {
        HideOverlay();

        if (!teenpattiNodeActive) {
          let gameView = document.getElementsByClassName('gameViewer')[0];
          gameView.style.opacity = "0";
          gameView.style.zIndex = "-200";
          gameView.src = "";
        }

        else {
          let gameView = document.getElementById('teenPattiGameViewer');
          gameView.style.opacity = "0";
          gameView.style.zIndex = "-200";
          gameView.src = "";
          teenpattiNodeActive = false;
        }



        var closeBtn = document.getElementsByClassName('closeGame')[0];
        closeBtn.style.opacity = "0";
        closeBtn.style.zIndex = "-201";
      }

      function SmoothScroll(_target, _duration) {
        window.scrollTo(0, 0);

        var target = document.getElementsByClassName(_target)[0];
        var targetPos = target.getBoundingClientRect().top;
        var startPos = window.scrollY;
        var dist = targetPos - startPos;
        var startTime = null;

        var animation = function (_currentTime) {
          if (startTime == null) startTime = _currentTime;
          var timeElapsed = _currentTime - startTime;
          var run = Ease(timeElapsed, startPos, dist, _duration);
          window.scrollTo(0, run);
          if (timeElapsed < _duration) requestAnimationFrame(animation);
        };

        requestAnimationFrame(animation);
      }

      function Ease(time, startPos, dist, dur) {
        time /= dur / 2;
        if (time < 1) return dist / 2 * time * time + startPos;
        time--;
        return -dist / 2 * (time * (time - 2) - 1) + startPos;
      }



      let isMobile = {
        Android: function () {
          return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function () {
          return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function () {
          return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function () {
          return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function () {
          return navigator.userAgent.match(/IEMobile/i);
        },
        any: function () {
          return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }
      };


      function LudoClubLoad() {
        location.replace("/ludoclub");
        AnalyticsFunction("Ludo_Club");
      }


      function teenPattiLoad() {

        location.replace("/teenpattigold")

        AnalyticsFunction("Teen_Patti_Gold");
        ShowOverlay();
        teenpattiNodeActive = true;
        let gameView = document.getElementById("teenPattiGameViewer");
        let closeBtn = document.getElementsByClassName('closeGame')[0];
        gameView.style.opacity = "1";
        gameView.style.zIndex = "200";
        gameView.src = "https://ls-3.teenpattigold.com/web?src=ulka";
        closeBtn.style.opacity = "1";
        closeBtn.style.zIndex = "201";


        gameView.onload = () => {

          if (isMobile.any() || isMobile.iOS()) {


            if (gameView.requestFullscreen) {
              gameView.requestFullscreen();
            } else if (gameView.mozRequestFullScreen) { /* Firefox */
              gameView.mozRequestFullScreen();
            } else if (gameView.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
              gameView.webkitRequestFullscreen();
            } else if (gameView.msRequestFullscreen) { /* IE/Edge */
              gameView.msRequestFullscreen();
            }

            gameView.width = "100%";
            gameView.height = "100%";
          }


        };


      }



      function AnalyticsFunction(data) {
        ga('send', 'event', 'UlkaGames_' + data);


        console.log("analy: " + 'UlkaGames_' + data);
      }
    </script>

</body>

</html>